# Pandas basics: the cats dataset

- Downloading and reading CSV files into Pandas dataframes
- Structure of a dataframe
- Boolean indexing with `.loc` to extract parts of the data
- Basic data manipulation: summary statistics, sorting

`pandas.pydata.org`

---

## Datasets

[Pet Cats UK](https://github.com/rfordatascience/tidytuesday/tree/master/data/2023/2023-01-31)

Cat information:

`https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-01-31/cats_uk_reference.csv`

Cat activity log:

`https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-01-31/cats_uk.csv`

In [3]:
import pandas as pd

cat_info = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-01-31/cats_uk_reference.csv')
cat_info.head(5)

,tag_id,animal_id,animal_taxon,deploy_on_date,deploy_off_date,hunt,prey_p_month,animal_reproductive_condition,animal_sex,hrs_indoors,n_cats,food_dry,food_wet,food_other,study_site,age_years
0,Tommy-Tag,Tommy,Felis catus,2017-06-03T01:02:09Z,2017-06-10T02:10:52Z,True,12.5,Neutered,m,12.5,2,True,True,False,UK,11.0
1,Athena,Athena,Felis catus,2017-06-24T01:02:13Z,2017-06-30T23:59:32Z,True,3.0,Spayed,f,7.5,2,True,True,False,UK,3.0
2,Ares,Ares,Felis catus,2017-06-24T01:03:57Z,2017-06-30T23:58:01Z,NaN,0.0,Neutered,m,7.5,2,True,True,False,UK,3.0
3,Lola,Lola,Felis catus,2017-06-24T01:18:49Z,2017-06-30T09:04:40Z,True,3.0,Spayed,f,17.5,1,True,True,False,UK,10.0
4,Maverick,Maverick,Felis catus,2017-06-25T01:04:35Z,2017-07-03T09:10:07Z,True,3.0,Neutered,m,12.5,1,True,True,True,UK,7.0

In [4]:
# Some general information
cat_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tag_id                         101 non-null    object
 1   animal_id                      101 non-null    object
 2   animal_taxon                   101 non-null    object
 3   deploy_on_date                 101 non-null    object
 4   deploy_off_date                101 non-null    object
 5   hunt                           92 non-null     object
 6   prey_p_month                   101 non-null    float64
 7   animal_reproductive_condition  98 non-null     object
 8   animal_sex                     101 non-null    object
 9   hrs_indoors                    101 non-null    float64
 10  n_cats                         101 non-null    int64
 11  food_dry                       101 non-null    bool
 12  food_wet                       101 non-null    bool
 13  food_other                     91 non-null     object
 14  study_site                     101 non-null    object
 15  age_years                      100 non-null    float64
dtypes: bool(2), float64(3), int64(1), object(10)
memory usage: 11.4+ KB

In [5]:
cat_info.describe()

       prey_p_month  hrs_indoors      n_cats   age_years
count    101.000000   101.000000  101.000000  100.000000
mean       3.742574    11.856436    2.079208    5.420000
std        4.831467     5.227971    0.996827    3.384994
min        0.000000     2.500000    1.000000    0.000000
25%        0.500000     7.500000    1.000000    3.000000
50%        3.000000    12.500000    2.000000    5.000000
75%        3.000000    17.500000    3.000000    8.000000
max       17.500000    22.500000    4.000000   16.000000

In [28]:
# Find all the female cats
# (create new dataframe with only the female cats info)
# print(cat_info['animal_sex'] == 'f')
# f_cats = cat_info.loc[cat_info['animal_sex'] == 'f']
# f_cats.head(10)


# import numpy as np
# t = np.array([[1, 2, 3], [5, 4, 3]])
# print(t[t <= 3])

# Find all the female cats who are at least 10 years old
# old_f_cats = f_cats.loc[f_cats['age_years'] >= 10]
# old_f_cats.head(10)

# Combine it in one command
old_f_cats = cat_info.loc[(cat_info['animal_sex'] == 'f') & (cat_info['age_years'] >= 10)]
# old_f_cats = cat_info.loc[(cat_info['animal_sex'] == 'f') | (cat_info['age_years'] >= 10)]
# old_f_cats = cat_info.loc[~(cat_info['animal_sex'] == 'f')]
# old_f_cats.head(10)

# & = and
# | = or
# ~ = not

old_f_cats = old_f_cats.sort_values('age_years', ascending=False)
old_f_cats.head()

,tag_id,animal_id,animal_taxon,deploy_on_date,deploy_off_date,hunt,prey_p_month,animal_reproductive_condition,animal_sex,hrs_indoors,n_cats,food_dry,food_wet,food_other,study_site,age_years
58,Boots-Tag,Boots,Felis catus,2017-08-25T02:00:08Z,2017-08-31T04:48:28Z,False,0.0,Spayed,f,22.5,4,True,True,True,UK,16.0
57,Jezebel-Tag,Jezebel,Felis catus,2017-08-25T01:50:01Z,2017-09-01T07:58:22Z,NaN,0.0,Spayed,f,17.5,4,True,True,True,UK,14.0
44,Bits-Tag,Bits,Felis catus,2017-07-29T01:02:11Z,2017-07-31T00:44:00Z,True,3.0,Spayed,f,2.5,3,True,False,True,UK,13.0
47,Bobs-Tag,Bobs,Felis catus,2017-07-29T05:36:35Z,2017-08-05T09:25:34Z,True,3.0,Spayed,f,7.5,3,True,False,True,UK,13.0
35,Bumbles-Tag,Bumbles,Felis catus,2017-07-20T03:06:34Z,2017-07-27T00:08:54Z,True,3.0,Spayed,f,12.5,2,False,True,True,UK,12.0

In [32]:
# Show the names of the 5 oldest female cats
# old_f_cats['animal_id'].head()

# Show names and study sites
old_f_cats[['animal_id', 'study_site', 'age_years']].head()

   animal_id study_site  age_years
58     Boots         UK       16.0
57   Jezebel         UK       14.0
44      Bits         UK       13.0
47      Bobs         UK       13.0
35   Bumbles         UK       12.0